<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание новой задачи</title>
</head>
<body>

<h1>Создать новую задачу</h1>

<form action="/create/" method="post">
    {% csrf_token %}

    <label>Описание:</label><br/>
    <input type="text" name="description"/><br/>

    <label>Выполнить до:</label><br/>
    <textarea name="date"></textarea><br/>

    <label>Состояние:</label><br/>
    <label>
            <select name="status">
            {% for elem in status_choice %}
                <option value="{{ elem.0 }}">{{ elem.1 }}</option>
            {% endfor %}
            </select>
    </label>
    <br/>
    <input type="submit" value="Send"/>
</form>

<a href="/" class="fs-3">Вернуться на главную страницу</a>
</body>
</html>